body {
    background-color: #00CED1;
}

#letters-container {
    letter-spacing: 10px;

}

#failedChar {
    letter-spacing: 7px;
}

#gameWon {
    font-size: 45px;
    font-family: Anton;
}

#gameLost {
    font-size: 45px;
    font-family: Antont;
}

#hangmanTitle {
    font-size: 60px;
    font-family: Anton;
}